body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* HEADER */

.header {
    display: block;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}

.nav-logo-block {
}

.nav-logo {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* margin-right: 76px; */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-logo .accent {
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-list {
    display: none;
    align-items: center;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link:hover,
.nav-menu-link:focus {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link.current {
    position: relative;
    color: #404bbf;
}

.nav-menu-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.header-address {
    font-style: normal;
    margin-left: auto;
}
.adress-menu-list {
    display: none;
    align-items: center;
    gap: 40px;
}
.adress-menu-item {
}

.adress-menu-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-menu-link:hover,
.adress-menu-link:focus {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* HERO */

.hero {
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office.jpg);
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-section {
    padding-top: 72px;
    padding-bottom: 72px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
    /* margin-bottom: 48px; */
    max-width: 496px;
    display: inline-block;
}

.hero-btn {
    display: block;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ADVANTAGES */

.advantages {
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.advantages-list-item {
}

.advantages-box {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #f4f4fd;
    height: 112px;
}

.advantages-box-img {
    height: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
}

.advantages-list-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.advantages-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* TEAM */

.container-mobile {
    padding-left: 28px;
    padding-right: 28px;
}

.team {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team-list-item {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-image {
}

.team-list-block {
    padding: 32px 0;
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-social {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.team-social-item {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    height: 40px;
}
.team-social-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-social-svg,
.social-box-img {
    fill: #f4f4fd;
}

.team-social-link:hover,
.team-social-link:focus {
    border-radius: 50%;
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* PORTFOLIO */

.portfolio {
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

.portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-img-box {
    position: relative;
    overflow: hidden;
}

.portfolio-list-item:hover .portfolio-cover-text {
    transform: translate(0);
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
    cursor: pointer;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cover-text {
    position: absolute;
    bottom: 0;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-block {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-list-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* FOOTER */

.footer {
    background-color: #2e2f42;
}

.footer-section {
    padding: 96px 16px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    text-align: center;
}

.footer-logo .accent {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    text-align: left;
}

.footer-left-box {
    margin-bottom: 72px;
    text-align: center;
}

.footer-social-box {
    width: 100%;
    margin-bottom: 72px;
}
.footer-social-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}
.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.social-list-item {
    width: 40px;
    height: 40px;
}

.social-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
    cursor: pointer;
    background-color: #31d0aa;
}

.social-box-img {
    display: block;
    margin: 0 auto;
    height: auto;
}

.footer-subscribe {
    /* margin-left: auto; */
}

.footer-subscribe-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.form-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.form-subscribe-item {
}

.form-subscribe-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.form-subscribe-input::placeholder {
    color: #ffffff;
}

.footer-subscribe-btn {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
    margin-left: 16px;
    fill: #ffffff;
}

/* MODAL */

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    fill: #e7e9fc;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
}
.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}
.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
    margin-bottom: 8px;
    max-width: 360px;
}

.modal-field.modal-botton {
    margin-bottom: 24px;
}

.modal-cover {
    position: relative;
}

.modal-item {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
    font-size: 12px;
    color: #8e8f99;
    outline: transparent;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
    height: 40px;
    border-color: #8e8f99;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 38px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    outline: 1px solid #4d5ae5;
    border-color: #4d5ae5;
}

.modal-input:focus + .modal-field-icon,
.modal-input:hover + .modal-field-icon {
    fill: #4d5ae5;
    border-color: #4d5ae5;
}

.modal-label-text {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-field-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field.textarea {
    margin-bottom: 16px;
}
.modal-icon-name {
    fill: #2e2f42;
}

.modal-textarea:focus {
    border: 1px solid #4d5ae5;
}

.modal-textarea {
    height: 120px;
    line-height: 1.17;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
    margin-bottom: 24px;
}

.checkbox-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-text .accent {
    fill: #f4f4fd;
    color: #4d5ae5;
}

.checkbox-element {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    line-height: 10px;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.checkbox-element-accent {
    font-size: 12px;
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    display: inline;
}

.checkbox-elements-icon {
    width: 10px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
}

.modal-checkbox:checked + .checkbox-text .checkbox-element {
    border-radius: 2px;
    fill: #f4f4fd;
    border: 1px solid #404bbf;
    background-color: #404bbf;
    border: none;
}

@media screen and (min-width: 768px) {
    .container {
        min-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }

    /* HEADER */

    .nav-logo {
        margin-right: 120px;
    }

    .nav-menu-list {
        display: flex;
    }

    .nav-menu-item {
    }

    .nav-menu-link {
        padding: 27px 0;
    }

    .header-address {
        margin-left: auto;
    }

    .adress-menu-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .adress-menu-link {
        padding: 0;
    }

    .burger-btn {
        display: none;
    }

    /* HERO */

    .hero-section {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .hero-title {
        margin-bottom: 36px;
        max-width: 496px;
    }

    /* ADVANTAGES */

    .advantages-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }
    .advantages-list-item {
        width: calc((100% - 24px) / 2);
    }
    .advantages-list-subtitle,
    .advantages-list-text {
        text-align: left;
    }

    /* TEAM */

    .container-mobile {
        padding-left: 108px;
        padding-right: 108px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
    }

    .team-list-item {
        width: calc((100% - 24px) / 2);
    }

    /* PORTFOLIO */

    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
    }

    /* PORTFOLIO */

    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-left-box {
        padding-left: 92px;
        margin-right: 24px;
        margin-bottom: 72px;
    }

    .footer-social-box {
        max-width: 208px;
        margin-bottom: 0;
    }

    .footer-social-subtitle {
        display: block;
        text-align: left;
    }

    .footer-subscribe {
        padding-left: 92px;
        padding-right: 191px;
    }

    .footer-subscribe-text {
        text-align: left;
    }

    .form-subscribe {
        flex-direction: row;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        min-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    /* HEADER */

    .nav-logo {
        margin-right: 76px;
    }

    .adress-menu-list {
        flex-direction: row;
        gap: 40px;
    }

    /* HERO */

    .hero-section {
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .hero-title {
        margin-bottom: 46px;
    }

    /* ADVANTAGES */

    .advantages-list {
        flex-wrap: nowrap;
        gap: 24px;
    }
    .advantages-list-item {
        width: calc((100% - 24px * 3) / 4);
    }

    .advantages-box {
        display: flex;
    }

    .advantages-list-subtitle {
        font-weight: 500;
        font-size: 20px;
    }

    /* TEAM */

    .team-list {
        justify-content: space-between;
        gap: 24px;
    }

    .team-list-item {
        width: calc((100% - 24px * 3) / 4);
    }

    /* PORTFOLIO */

    .portfolio-list {
        justify-content: space-between;
        row-gap: 48px;
    }

    .portfolio-list-item {
        width: calc((100% - 24px * 2) / 3);
    }

    /* PORTFOLIO */

    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
    }

    /* PORTFOLIO */

    .footer-container {
        min-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .footer-section {
        padding: 100px 0;
    }

    .footer-left-box {
        margin-right: 120px;
        margin-bottom: 0;
        display: inline;
        padding-left: 0;
        width: 264px;
        text-align: left;
    }

    .footer-subscribe {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
    }
}
